---
import OriginMarkdownContent from "@astrojs/starlight/components/MarkdownContent.astro";
import { Aside } from "@astrojs/starlight/components";

interface Props {
  articleCounterInitialValue: number;
}

const { articleCounterInitialValue } = Astro.props;
const articleCounter = articleCounterInitialValue - 1;
---

<div class="regulation-markdown-content">
  <OriginMarkdownContent>
    <slot />
  </OriginMarkdownContent>
  <Aside>
    This text is provided solely for documentation and informational purposes
    and has no legal effect. No liability is assumed for its accuracy or
    completeness. The authentic and legally binding version of this act is the
    one published in the Official Journal of the European Union.
  </Aside>
</div>

<style is:global define:vars={{ articleCounter }}>
  @layer base, starlight, theme, components, utilities;

  @import "@astrojs/starlight-tailwind";
  @import "tailwindcss/theme.css" layer(theme);
  @import "tailwindcss/utilities.css" layer(utilities);

  @counter-style reg-lower-roman {
    system: extends lower-roman;
    prefix: "(";
    suffix: ") ";
  }

  @counter-style reg-lower-latin {
    system: extends lower-latin;
    prefix: "(";
    suffix: ") ";
  }

  .regulation-markdown-content {
    & .sl-markdown-content {
      counter-reset: chapter-counter 0 section-counter 0 article-counter
        var(--articleCounter);
    }

    & .sl-heading-wrapper > h2 {
      counter-reset: section-counter 0;
    }

    & .sl-heading-wrapper > h2:before {
      content: "Chapter " counter(chapter-counter, upper-roman);
      counter-increment: chapter-counter;
      @apply block text-accent-700 text-xl md:text-3xl w-max border-b-4 border-b-gray-500 mb-2;
    }

    & .sl-heading-wrapper > h3:before {
      content: "Section " counter(section-counter, upper-roman);
      counter-increment: section-counter;
      @apply block text-accent-700 text-lg md:text-2xl w-max border-b-2 border-b-gray-500 mb-2;
    }

    & .sl-heading-wrapper > h4:before {
      content: "Article " counter(article-counter);
      counter-increment: article-counter;
      @apply block text-accent-700 text-base md:text-xl w-max border-b-1 border-b-gray-500 mb-2;
    }

    & .sl-markdown-content > ol {
      @apply list-inside p-0;

      & > li > p {
        @apply inline;
      }

      & > li > ol {
        @apply list-[reg-lower-latin] list-outside mt-0.25 pl-5;

        & > li {
          @apply pl-2;
        }

        & > li > p {
          @apply inline;
        }

        & > li > ol {
          @apply list-[reg-lower-roman] list-outside pl-5;

          & > li {
            @apply pl-2;
          }

          & > li > p {
            @apply inline;
          }
        }
      }
    }

    & > aside {
      @apply mt-12;
    }
  }
</style>
