---
import AnchorHeading from "@astrojs/starlight/components/AnchorHeading.astro";

interface Props {
  number: number;
}

const { number } = Astro.props;
---

<h3 class="section-number">Section {number}</h3>

<style is:global>
  @layer base, starlight, theme, components, utilities;

  @import "@astrojs/starlight-tailwind";
  @import "tailwindcss/theme.css" layer(theme);
  @import "tailwindcss/utilities.css" layer(utilities);

  .section-number {
    @apply text-accent-700 text-lg md:text-2xl w-max border-b-2 border-b-gray-500;
  }

  .section-number + div.level-h3 {
    @apply inline-block;
  }
</style>
